# Basic
numpy
pandas
numba
matplotlib
scipy

# Qiskit
qiskit
qiskit_optimization
qiskit_ibm_runtime

# Cirq
cirq
numpy<=1.26.0
ply

# AQT
qiskit_aqt_provider

# Orca
torch

# Other Quantum Computing
pyqubo
dwave-ocean-sdk
dwave-tabu

# Scheduling
qcg-pilotjob
dill
pathos